<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jt.mapper.DeptMapper">

 <select id="findAll" resultMap="deptRM">
  select dept.dept_name,emp.* from dept,emp
  where emp.dept_id = dept.dept_id
 </select>

 <!--
     固定搭配: collection + ofType
 -->
 <resultMap id="deptRM" type="Dept" autoMapping="true">
  <id column="dept_id" property="deptId"/>
  <result column="dept_name" property="deptName"/>
  <!-- 一对多封装 -->
  <collection property="emps" ofType="Emp" autoMapping="true">
   <id column="id" property="id"/>
  </collection>
 </resultMap>

</mapper>
